<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-cog"></i>  <i class="caret"></i><i class=""></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
<!--             <li><a href="#"><i class="glyphicon glyphicon-user glyphicon-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-gear glyphicon-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a href="login.html"><i class="glyphicon glyphicon-sign-out glyphicon-fw"></i> Logout</a>
            </li> -->
            <li><a href="/api/feed/google_transit.zip" target="_blank"><i class="glyphicon glyphicon-download-alt"></i> Download Feed</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
