{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Agencies{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Agencies
      <a class="btn btn-default clearfix pull-right" href="{{ url_for('editor.create_or_edit_agency') }}">
        <span class="glyphicon glyphicon-plus"></span> New
      </a>
    </h1>
</div>
<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Timezone</th>
        <th>Language</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for agency in agencies %}
        <tr data-index="0">
          <td>{{ agency.agency_name }}</td>
          <td>{{ agency.agency_url }}</td>
          <td>{{ agency.agency_timezone }}</td>
          <td>{{ agency.agency_lang }}</td>
          <td>{{ agency.agency_phone }}</td>
          <td class="">
            <a href="{{ url_for('editor.delete_agency', agency_id=agency.agency_id) }}" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a href="{{ url_for('editor.create_or_edit_agency', agency_id=agency.agency_id) }}" class="btn btn-default btn-edit">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}




