<div class="col-md-12">

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Stops</li>
  </ol>

  <div class="page-header">
    <h1>Stops</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="map-view voffset1" ol-map="$ctrl.map"></div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 filter-view"></div>
      </div>
      <div class="row">
        <div class="col-md-12 voffset1">
          <a href="#/stops/new" class="btn btn-primary create-stop"><i class="glyphicon glyphicon-plus"></i> Create</a>
        </div>
      </div>

      <hr>

      <div class="stop-data-view"></div>
    </div>
  </div>
</div>