<ul class="nav navbar-nav navbar-top-links navbar-right">
    <li ui-sref-active="active">
        <a ui-sref="routes.list">
            <i class="glyphicon glyphicon-road"><span class="hidden-sm"> Routes</span></i>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="stops">
            <i class="glyphicon glyphicon-record"><span class="hidden-sm"> Stops</span></i>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="agencies">
            <i class="glyphicon glyphicon-road"><span class="hidden-sm"> Agencies</span></i>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="calendar">
            <i class="glyphicon glyphicon-calendar"><span class="hidden-sm"> Calendar</span></i>
        </a>
    </li>


    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-cog"></i><span class="hidden-sm"> Feed</span><i class="caret"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
<!--             <li><a href="#"><i class="glyphicon glyphicon-user glyphicon-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-gear glyphicon-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a href="login.html"><i class="glyphicon glyphicon-sign-out glyphicon-fw"></i> Logout</a>
            </li> -->
            <li><a href="/api/feed/google_transit.zip" target="_blank"><i class="glyphicon glyphicon-download-alt"></i> Download Feed</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="glyphicon glyphicon-user glyphicon-fw"></i>  <i class="glyphicon glyphicon-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <!-- <li><a href="#"><i class="glyphicon glyphicon-user glyphicon-fw"></i> User Profile</a>
          </li>
          <li><a href="#"><i class="glyphicon glyphicon-gear glyphicon-fw"></i> Settings</a>
          </li>
          <li class="divider"></li> -->
          <li><a href="/auth/logout"><i class="glyphicon glyphicon-sign-out glyphicon-fw"></i> Logout</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
</ul>