<button class="btn btn-xl btn-default pull-right" ng-click="isEditing=!isEditing" ng-show="!isEditing">
	<span class="glyphicon glyphicon-pencil"></span>
</button>
<button class="btn btn-xl btn-default pull-right">
	<span class="glyphicon glyphicon-trash"></span>
</button>
<h2 class="clearfix">Route {{route.route_short_name}}</h2>

<div ng-if="!isEditing">
	<ul>
		<li><strong>Active: </strong>{{route.active}}</li>
		<li><strong>Agency Id: </strong>{{route.agency_id}}</li>
		<li><strong>Build type: </strong>{{route.build_type}}</li>
		<li><strong>Color: </strong>{{route.route_color}}</li>
		<li><strong>Description: </strong>{{route.route_desc}}</li>
		<li><strong>Long Name: </strong>{{route.route_long_name}}</li>
		<li><strong>Text Color: </strong>{{route.route_text_color}}</li>
		<li><strong>Type: </strong>{{route.route_type}}</li>
	</ul>
</div>


<div ng-if="isEditing">
	<form ng-submit="update()">
	  <div class="form-group">
	    <label for="route_short_name">Short Name</label>
	    <input type="text" ng-model="route.route_short_name" class="form-control" name="route_short_name" placeholder="Short Name">
	  </div>
	  <div class="form-group">
	    <label for="route_long_name">Long Name</label>
	    <input type="text" ng-model="route.route_long_name" class="form-control" id="route_long_name" placeholder="Long Name">
	    <!-- <p class="help-block">Example block-level help text here.</p> -->
	  </div>
	  <div class="form-group">
	    <label for="description">Description</label>
	    <input type="text" ng-model="route.description" class="form-control" id="description" placeholder="Description">
	    <!-- <p class="help-block">Example block-level help text here.</p> -->
	  </div>
	  <div class="form-group">
	    <label for="route_type">Type</label>
	    <input type="text" ng-model="route.route_type" class="form-control" id="route_type" placeholder="Type">
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" ng-model="route.active"> Active
	    </label>
	  </div>
	  <button type="submit" class="btn btn-default">Save</button>
	</form>
</div>

<!-- <pre>{{route | json}}</pre> -->
