<button class="btn btn-xl btn-default pull-right" ui-sref="trips.item.edit({route_id: route.route_id})">
	<span class="glyphicon glyphicon-pencil"></span>
</button>

<h2 class="clearfix">Trip to {{trip.trip_headsign}}</h2>

<div>
	<ul>
		<li><strong>Active: </strong>{{trip.active}}</li>
		<li><strong>Short Name: </strong>{{trip.trip_short_name}}</li>

		<li><strong>Direction: </strong>{{trip.direction_id}}</li>
		<li><strong>Shape_id: </strong>{{trip.shape_id}}</li>
	</ul>
</div>

<div id="map" style="width: 100%, height: 400px"></div>