<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-sm">
    <button class="btn btn-default" ng-click="$ctrl.saveTripStops()">Save</button>
    <button class="btn btn-default sortStops">Sort</button>
    <button class="btn btn-default offsetStops">Align</button>
    <button class="btn btn-default updateDist">Update Distances</button>
    <button class="btn btn-default interpolateTimes">Interpolate Times</button>
  </div>
  <div class="btn-group btn-group-sm">
    <form class="form-inline">
      <div class="form-group">
        <input name="speed" type="number" class="form-control input-sm speed" placeholder="speed (km/h)">
        <button type="submit" class="btn btn-default btn-sm btn-speed">Set speed</button>
      </div>
    </form>
  </div>
</div>
<div class="row voffset1">
  <div class="col-md-12">
	<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>N</th>
			<th>Stop Code</th>
			<th>Stop Name</th>
			<th>Time</th>
			<th>Distance (km)</th>
			<th> <span class="glyphicon glyphicon-cog"></span>	</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="stop_time in $ctrl.stops">
			<td>{{stop_time.stop_sequence}}</td>
			<td>{{stop_time._stop.stop_code}}</td>
			<td>{{stop_time._stop.stop_name}}</td>
			<td class="table-input">
				<input class="form-control" type="text" name="stop_time" ng-model="stop_time.stop_time"/>
			</td>
			<td>{{stop_time.shape_dist_traveled}}</td>
			<td>
				<span class="glyphicon glyphicon-trash"></span>
			</td>
		</tr>
	</tbody>
	</table>
  </div>
</div>