<label>Stop Tools</label>
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-sm">
    <button class="btn btn-default newStop"><i class="glyphicon glyphicon-pencil"></i> Add</button>
    <button class="btn btn-default editStop"><i class="glyphicon glyphicon-move"></i> Edit</button>
    <button class="btn btn-default removeStop"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    <button class="btn btn-default clearEdits"><i class="glyphicon glyphicon-remove"></i> Clear</button>
    <!--
    <button class="btn btn-default toggleMultipleSelect" disabled="disabled">Multiple</button>
    {{#if stop.changed}}
        <button class="btn btn-primary btn-default saveStop"><i class="glyphicon glyphicon-ok"></i> Save</button>
    {{/if}}
    <button class="btn btn-default cancelEditStop">Cancel</button>
    -->
  </div>
</div>