{% extends "layout.html" %}

{% block title %}Agencia {{agency.agency_id}}{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="/">Inicio</a></li>
  <li><a href="/agency/{{agency.agency_id}}">Agenica {{agency.agency_id}}</a></li>
</ol>

<h2>Informacion General</h2>

<dl class="dl-horizontal">
	<dt>Nombre</dt>
	<dd>{{agency.agency_name}}</dd>
	<dt>URL</dt>
	<dd>{{agency.agency_url}}</dd>
	<dt>Telefono</dt>
	<dd>{{agency.agency_phone}}</dd>
	<dt>Lenguaje</dt>
	<dd>{{agency.agency_lang}}</dd>
	<dt>Zona Horaria</dt>
	<dd>{{agency.agency_timezone}}</dd>
</dl>

<h2>Rutas</h2>

{%for route in routes %}
<h3><a href="/routes/{{route.route_id}}">{{route.route_short_name}}</a></h3>

<dl class="dl-horizontal">
	<dt>Nombre</dt>
	<dd>{{route.route_long_name or ""}}</dd>
	<dt>Agencia</dt>
	<dd>{{route.agency_id or ""}}</dd>
	<dt>Nombre corto</dt>
	<dd>{{route.route_short_name or ""}}</dd>
	<dt>Descripcion</dt>
	<dd>{{route.route_desc or ""}}</dd>
	<dt>Tipo</dt>
	<dd>{{route.route_type or ""}}</dd>
	<dt>Color</dt>
	<dd>{{route.route_color or ""}}</dd>
	<dt>Activa</dt>
	<dd>{{"Si" if route.active else "No"}}</dd>
</dl>

{%endfor%}

{% endblock%}