{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="/">Inicio</a></li>
</ol>

<h2>Agencias</h2>

<ul>
	{%for agency in agencies%}
	<li><a href="/agency/{{agency.agency_id}}">{{agency.agency_name}}</a></li>
	{%endfor%}
</ul>

<h2>Rutas</h2>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Nombre corto</th>
			<th>Activa</th>
			<th>Agencia</th>
			<th>Tipo</th>
			<th>Nombre largo</th>
			<th>Descripción</th>
			<th>Color</th>
		</tr>
	</thead>
{%for route, agency in results%}
	<tr>
		<td><a href="/routes/{{route.route_id}}">{{route.route_short_name}}</a></td>
		<td>{{"Si" if route.active else "No"}}</td>
		<td><a href="/agency/{{route.agency_id}}">{{agency.agency_name}}</a></td>
		<td>{{route.route_type or ""}}</td>
		<td>{{route.route_long_name or ""}}</td>
		<td>{{route.route_desc or ""}}</td>
		<td>{{route.route_color or ""}}</td>
	</tr>
{%endfor%}
</table>

{% endblock%}