{% extends "layout.html" %}

{% block title %}Ruta {{route.route_id}}{% endblock %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="/">Inicio</a></li>
  <li class="active">Ruta {{route.route_id}}</li>
</ol>

<h2>Informacion General</h2>

<dl class="dl-horizontal">
	<dt>Nombre Largo</dt>
	<dd>{{route.route_long_name or ""}}</dd>
	<dt>Agencia</dt>
	<dd>{{route.agency_id}}</dd>
	<dt>Nombre Corto</dt>
	<dd>{{route.route_short_name}}</dd>
	<dt>Descripcion</dt>
	<dd>{{route.route_desc}}</dd>
	<dt>Tipo</dt>
	<dd>{{route.route_type}}</dd>
	<dt>Color</dt>
	<dd>{{route.route_color or ""}}</dd>
	<dt>Activa</dt>
	<dd>{{route.active}}</dd>
</dl>

<h2>Viajes</h2>

{% set keys = ["active", "trip_id", "trip_headsign", "trip_short_name"] %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Activo</th>
			<th>Sentido</th>
			<th>Hacia</th>
			<th>Nombre Corto</th>
		</tr>
	</thead>
{%for trip in trips%}
	{% if trip['active']%}
	<tr>
	{%else%}
	<tr class="danger">
	{% endif %}
	  	<td>
	  		{%if trip['active']%}
	  			<span class="glyphicon glyphicon-ok"></span>
	  		{%else%}
	  			<span class="glyphicon glyphicon-remove"></span>
	    	{%endif%}
	  	</td>
	    <td>{% if trip.direction_id == "0"%} Ida {%else%} Vuelta {% endif %}</td>
	  	<td><a href="/routes/{{route.route_id}}/trips/{{trip.trip_id}}">{{trip.trip_headsign}}</a></td>
	    <td>{{trip.trip_short_name}}</td>
  </tr>
{%endfor%}
</table>


{% endblock%}