<div class="col-md-12 panel-right">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Calendars</li>
  </ol>


  <div class="page-header">
    <h1>Calendars <small>Service Periods</small></h1>
  </div>

  <button class="btn btn-primary btn-create pull-right"><span class="glyphicon glyphicon-plus"></span> New</button>

  <ul class="list-group">
  {{#each models}}
    <li class="list-group-item" data-service-id="{{service_id}}">
      <h3 class="list-group-item-heading">{{service_name}}
      <small>Desde: {{start_date}} Hasta: {{end_date}}</small>
      </h3>

      {{#if_eq monday "1"}}Monday, {{/if_eq}}
      {{#if_eq tuesday "1"}}Tuesday, {{/if_eq}}
      {{#if_eq wednesday "1"}}Wednesday, {{/if_eq}}
      {{#if_eq thursday "1"}}Thursday, {{/if_eq}}
      {{#if_eq friday "1"}}Friday, {{/if_eq}}
      {{#if_eq saturday "1"}}Saturday, {{/if_eq}}
      {{#if_eq sunday "1"}}Sunday, {{/if_eq}}
      <div class="pull-right">
        <a href="#" class="btn-rm"><span class="glyphicon glyphicon-remove"></span> Remove</a>
        <a href="#" class="btn-edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
      </div>
    </li>
  {{/each}}
  </ul>

</div>
