<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#/agencies">
            <span class="glyphicon glyphicon-road gi-fw"></span><span class="hidden-sm"> Agencies</span>
        </a>
    </li>

    <li>
        <a href="#/stops">
            <span class="glyphicon glyphicon-record gi-fw"></span><span class="hidden-sm"> Stops</span>
        </a>
    </li>

    <li>
        <a href="#/routes">
            <span class="glyphicon glyphicon-road gi-fw"></span><span class="hidden-sm"> Routes</span>
        </a>
    </li>

    <li>
        <a href="#/calendar">
            <span class="glyphicon glyphicon-calendar gi-fw"></span><span class="hidden-sm"> Calendar</span>
        </a>
    </li>

<!--
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-cog"></i><span class="hidden-sm"> Feed</span><i class="caret"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
             <li><a href="#"><i class="glyphicon glyphicon-user glyphicon-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-gear glyphicon-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a href="login.html"><i class="glyphicon glyphicon-sign-out glyphicon-fw"></i> Logout</a>
            </li>
            <li><a href="/api/feed/google_transit.zip" target="_blank"><i class="glyphicon glyphicon-download-alt"></i> Download Feed</a>
            </li>
        </ul>
    </li>
-->

    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="glyphicon glyphicon-user glyphicon-fw"></i>  <i class="glyphicon glyphicon-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
{{!--           <li><a href="#"><i class="glyphicon glyphicon-user glyphicon-fw"></i> User Profile</a>
          </li>
          <li><a href="#"><i class="glyphicon glyphicon-gear glyphicon-fw"></i> Settings</a>
          </li>
          <li class="divider"></li> --}}
          <li><a href="/auth/logout"><i class="glyphicon glyphicon-sign-out glyphicon-fw"></i> Logout</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
</ul>
<!-- /.navbar-top-links -->
