{{#if shape_id}}
  {{#if isEditing}}
    <button class="btn btn-default reverseShape">
      <i class="glyphicon glyphicon-refresh"></i> Reverse
    </button>
  {{else}}
    <button class="btn btn-default editShape">
      <i class="glyphicon glyphicon-pencil"></i> Edit Shape
    </button>
    <button class="btn btn-default btn-delete-shape">
      <i class="glyphicon glyphicon-trash"></i> Delete Shape
    </button>
  {{/if}}
{{else}}
  {{#unless isCreating}}
    <button class="btn btn-default create-shape">
      <i class="glyphicon glyphicon-plus"></i> Create Shape
    </button>
  {{/unless}}
{{/if}}

{{#if isEditingOrCreating}}
  <button class="btn btn-default saveShape">
    <i class="glyphicon glyphicon-ok"></i> Save Shape
  </button>
  <button class="btn btn-default btn-cancel"> Cancel</button>
{{/if}}
