<div class="col-md-12">

	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">Stops</li>
	</ol>

	<h3>Stops</h3>

	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12 top-sp filter-view"></div>
			</div>
			<div class="stop-toolbar-view"></div>
			<h4>Stop Data</h4>
			<div class="stop-data-view"></div>
		</div>
		<div class="col-md-8">
			<div id="map" class="map-view"></div>
		</div>
	</div>
</div>