<button class="btn btn-default prevStop"><i class="glyphicon glyphicon-step-backward"></i></button>
<button class="btn btn-default nextStop"><i class="glyphicon glyphicon-step-forward"></i></button>
<button class="btn btn-default removeStop"><i class="glyphicon glyphicon-trash"></i> Remove</button>
<button class="btn btn-default appendStop"><i class="glyphicon glyphicon-chevron-down"></i> Use</button>
<button class="btn btn-default btn-save"><i class="glyphicon glyphicon-ok"></i> Save</button>
