<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/editor/#/agencies">
            <span class="glyphicon glyphicon-road gi-fw"></span><span class="hidden-sm"> Agencies</span>
        </a>
    </li>

    <li>
        <a href="#!/stops">
            <span class="glyphicon glyphicon-record gi-fw"></span><span class="hidden-sm"> Stops</span>
        </a>
    </li>

    <li>
        <a href="#!/routes">
            <span class="glyphicon glyphicon-road gi-fw"></span><span class="hidden-sm"> Routes</span>
        </a>
    </li>

    <li>
        <a href="#!/calendar">
            <span class="glyphicon glyphicon-calendar gi-fw"></span><span class="hidden-sm"> Calendar</span>
        </a>
    </li>

</ul>
