{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Agency{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Route: {{model.route_short_name}}</h1>
  </div>
  <div class="col-md-4">
    <h2>Description</h2>
    {% include 'routes/_item.html' %}
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
      <a href="{{ url_for('routes.edit', route_id=model.route_id) }}"
          class="btn btn-default btn-edit">
        <span class="glyphicon glyphicon-pencil"> Edit</span>
      </a>
      <a href="{{ url_for('routes.delete', route_id=model.route_id) }}"
          class="btn btn-default btn-edit">
        <span class="glyphicon glyphicon-remove"> Remove</span>
      </a>
    </form>
  </div>
  <div class="col-md-8">
    <h2>Trips</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Activo</th>
          <th>Nombre</th>
          <th>Dirigido Hacia</th>
          <th>Sentido</th>
          <th>Codigo</th>
        </tr>
      </thead>
    {%for trip in trips%}
      {% if trip['active']%}
      <tr>
      {%else%}
      <tr class="danger">
      {% endif %}
          <td>
            {%if trip['active']%}
              <span class="glyphicon glyphicon-ok"></span>
            {%else%}
              <span class="glyphicon glyphicon-remove"></span>
            {%endif%}
          </td>
          <td>{{trip.trip_short_name}}</td>
          <td><a href="/routes/{{model.route_id}}/trips/{{trip.trip_id}}">{{trip.trip_headsign}}</a></td>
          <td>{% if trip.direction_id == "0"%} Ida {%else%} Vuelta {% endif %}</td>
          <td>{{trip.card_code}}</td>
      </tr>
    {%endfor%}
    </table>
  </div>
{% endblock %}




