.nowrap {
    white-space: nowrap;
}
#map {
    height: 540px;
}
#panel {
    height: 350px;
    overflow-y: auto;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f9f9f9;
}


.voffset-m2  { margin-top: 0.2rem; }
.voffset-m2 { margin-top: 0.5rem; }
.voffset1 { margin-top: 1rem; }
.voffset1m5 { margin-top: 10.5rem; }
.voffset2 { margin-top: 30.0rem; }
