{% extends "layout.html" %}

{% block title %}Servicios {{service.service_id}}{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="/">Inicio</a></li>
  <li><a href="/routes/{{route.route_id}}">Ruta {{route.route_id}}</a></li>
  <li><a href="/routes/{{route.route_id}}/trips/{{trip.trip_id}}">Viaje hacia {{trip.trip_headsign}}</a></li>
  <li class="active">Servicio {{service.service_id}}</li>
</ol>


<h2>Horarios de salida</h2>

<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Id de Servicio</th>
			<th>Tiempo de inicio</th>
		</tr>
	</thead>
{%for start_time in trip_start_times%}
	<tr>
		<td>{{start_time.service_id}}</td>
		<td>{{start_time.start_time}}</td>
	</tr>
{%endfor%}
</table>


<h2>Tabla de horarios</h2>

<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Stop id</th>
			<th>Stop Name</th>
			<th>Stop Time</th>
			{%for start_time in trip_start_times%}
				<th>{{start_time.start_time}}</th>
			{%endfor%}
		</tr>
	</thead>
	<tbody>
	{%for row in time_table%}
		{% set stopSeq = row[0].StopSeq%}
		{% set stop = row[0].Stop%}
		{% set times = row[1:]%}
		<tr>
			<td><a href="/stops/{{stop.stop_id}}">{{stop.stop_id}}</a></td>
			<td>{{stopSeq.stop_name or stop.stop_calle or "" + " " + stop.stop_numero}}</td>
			<td>{{stopSeq.stop_time or ""}}</td>
			{%for start_time in times%}
				<td>{{start_time or ""}}</td>
			{%endfor%}
		</tr>
	{%endfor%}
	</tbody>
</table>

{% endblock%}