<form class="filter-form">
	<label>Stops
	<div class="input-append">
	  <input id="stop_id" type="text" />
	  <button type="submit" class="btn filter-button" id="filter-button"><i class="icon-search"></i> Filter</button>
	</div>
	</label>
</form>