<label>Trip Tools</label>
<div class="control-group">
  <div class="btn-group">
    <button class="btn btn-small sortStops">Sort</button>
    <button class="btn btn-small offsetStops">Align</button>
    <button class="btn btn-small toggleMultipleSelect">Multiple</button>
  </div>
</div>

<div class="control-group">
  <div class="btn-group">
    <button type="button" class="btn btn-small editStops"><i class="icon-move"></i></button>
    <button type="button" class="btn btn-small drawStops"><i class="icon-plus"></i></button>
    <button type="button" class="btn btn-small removeStop"><i class="icon-trash"></i></button>
    <button type="button" class="btn btn-small appendStop"><i class="icon-chevron-down"></i></button>
    <button class="btn btn-small toggleTimepoint"><i class="icon-time"></i></button>
    <button class="btn btn-small btn-primary saveStops"><i class="icon-ok"></i> Save</button>
  </div>
</div>

<div class="btn-group">
  <button class="btn btn-mini prevStop"><i class="icon-backward"></i></button>
  <button class="btn btn-mini nextStop"><i class="icon-forward"></i></button>
</div>