<div class="control-group">
  <label>Shape Tools</label>
    <div class="btn-group">
      <button class="btn btn-small reverseShape">
      	<i class="icon-refresh"></i> Reverse
      </button>
      <button class="btn btn-small editShape">
      	<i class="icon-pencil"></i> Edit
      </button>
      <button class="btn btn-small saveShape">
      	<i class="icon-ok"></i> Save
      </button>
    </div>
</div>