<div class="control-group">
<label>Stop Tools</label>
  <div class="btn-group">
    <button class="btn btn-small newStop"><i class="icon-pencil"></i> Add</button>
    <button class="btn btn-small editStop"><i class="icon-move"></i> Edit</button>
    <button class="btn btn-small removeStop"><i class="icon-trash"></i> Delete</button>
    <button class="btn btn-small clearEdits"><i class="icon-remove"></i> Clear</button>
    <!--
    <button class="btn btn-small toggleMultipleSelect" disabled="disabled">Multiple</button>
    {{#if stop.changed}}
        <button class="btn btn-primary btn-small saveStop"><i class="icon-ok"></i> Save</button>
    {{/if}}
    <button class="btn btn-small cancelEditStop">Cancel</button>
    -->
  </div>
</div>