<label for="trip">Trip
	<select id="trip">
	  <option value=""> -- </option>
	  {{#each trips}}
	    <option value="{{trip_id}}">{{trip_id}} - {{trip_headsign}}</option>
	  {{/each}}
	</select>
</label>
