<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2" xmlns:gx="http://www.google.com/kml/ext/2.2" xmlns:kml="http://www.opengis.net/kml/2.2" xmlns:atom="http://www.w3.org/2005/Atom">   
<Document>
<Style id="TPoint">
  <IconStyle>
    <Icon>http://maps.google.com/mapfiles/kml/pushpin/ylw-pushpin.png</Icon>
  </IconStyle>
</Style>
<Folder>
<name>Stops</name>
<open>1</open>
{{#stops}}
<Placemark id="{{stop_id}}">
<name>ID: {{stop_id}}, "{{stop_name}}"</name>
<description>
  <![CDATA[
  <ul>
    {{#trips}}
    <li><strong>{{route_id}}</strong>: {{trip_headsign}}</li>
    {{/trips}}
  </ul>
]]>
</description>
<styleUrl>#TPoint</styleUrl>
<Point>
<coordinates>{{stop_lon}},{{stop_lat}}</coordinates>
</Point>
</Placemark>
{{/stops}}
</Folder>
</Document>
</kml>