<form role="form" class="upload">
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" name="file" class="file">
    <p class="help-block">specified format</p>
  </div>
  <button type="submit" class="btn btn-default btn-upload">Submit</button>
</form>