<h4>Shape Tools</h4>
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-sm">
    <button class="btn btn-default create-shape">
      <i class="glyphicon glyphicon-plus"></i> Create
    </button>
    <button class="btn btn-default reverseShape">
      <i class="glyphicon glyphicon-refresh"></i> Reverse
    </button>
    <button class="btn btn-default editShape">
      <i class="glyphicon glyphicon-pencil"></i> Edit
    </button>
    <button class="btn btn-default saveShape">
      <i class="glyphicon glyphicon-ok"></i> Save
    </button>
    <button class="btn btn-default delete">
      <i class="glyphicon glyphicon-trash"></i> Delete
    </button>
  </div>
</div>