{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Agency{% endblock %}

{% block page_content %}
  <div class="page-header">
    {% if agency %}
      <h1>Edit Agency: {{agency.agency_name}}</h1>
    {% else %}
      <h1>New Agency</h1>
    {% endif %}
  </div>
  <div class="col-md-12">
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
      <div class="form-group">
        {{ wtf.form_field(form.agency_name, placeholder="Name") }}
      </div>
      <div class="form-group">
        {{wtf.form_field(form.agency_url, placeholder="URL")}}
      </div>
      <div class="form-group">
        {{wtf.form_field(form.agency_timezone, placeholder="Timezone")}}
      </div>
      <div class="form-group">
        {{wtf.form_field(form.agency_lang, placeholder="Language")}}
      </div>
      <div class="form-group">
        {{wtf.form_field(form.agency_phone, placeholder="Phone")}}
      </div>
      <button class="btn btn-primary btn-submit" type="submit">  <span class="glyphicon glyphicon-save"> Save</button>
        <a href="{{ url_for('agencies.agencies') }}"
            class="btn btn-default btn-remove">
          <span class="glyphicon glyphicon-remove"> Cancel</span>
        </a>
    </form>
  </div>
{% endblock %}




