<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Como llegar - Municipalidad de Córdoba</title>
    <link rel="stylesheet" type="text/css" href="/static/home/routing/fullpage.css">
    <!-- <link rel="stylesheet" type="text/css" href="partial.css"> -->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=es"></script>
    <script src="/static/home/routing/transit.js"></script>
  </head>
  <body>

    <div id="container">
      <div id="map"></div>

      <div id="panel-wpr">
        <div id="info">
          <div>
            <h2>Indicaciones de viaje</h2>
          </div>
          <div> 
            <label>Desde</label>
            <input class="input" id="from">
          </div>
          <div>
            <label>Hacia</label>
            <input class="input" id="to">
          </div>
          <div>Saliendo a las: <select id="depart"></select></div>
          <div class="btn">
            <button id="goBtn">Como llegar</button>
          </div>
        </div>
        <div id="panel"></div>
      </div>

    </div>
    
  </body>
</html>
