<div class="input-group">
  <input type="text" class="form-control filter-value" placeholder="Filter...">
  <span class="input-group-btn">
    <button class="btn btn-default filter-button" type="button"><i class="glyphicon glyphicon-search"></i></button>
  </span>
</div>
