<div class="col-md-12">

  <div class="page-header">
    <h1>Welcome to Transit Feed Editor</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="#/routes">Routes: ({{$ctrl.stats.routes.count}})</a></h3>
        </div>
        <div class="panel-body">
          <p>Total Trips: {{$ctrl.stats.trips.count}}</p>
          <p>Routes group a number of trips according to their geographical similarity.</p>
          <p>Edit existing routes or add new ones here.
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="#/stops">Stops: ({{$ctrl.stats.stops.count}})</a></h3>
        </div>
        <div class="panel-body">
          Edit existing stops or add new ones.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="#/agencies">Agencies: ({{$ctrl.stats.agencies.count}})</a></h3>
        </div>
        <div class="panel-body">
          <p>Agencies store operator data for your transit lines</p>
          <p>Edit existing agencies or add new ones.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="#/calendar">Calendars</a></h3>
        </div>
        <div class="panel-body">
          Define your service periods and calendar exceptions here.
        </div>
      </div>
    </div>
  </div>

</div>
