<div class="col-md-4 panel-left">
  <div class="row">
    <div  class="col-md-12 routes-select">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 trips-select">
    </div>
  </div>
</div>
<div class="col-md-8 panel-right">
	<form role="form" action="/api/times" method="post">
	  <div class="form-group">
	    <label for="exampleInputFile">File input</label>
	    <input type="file">
	    <p class="help-block">specified format</p>
	  </div>
	  {{!-- <div class="checkbox">
	    <label>
	      <input type="checkbox"> Check me out
	    </label>
	  </div> --}}
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
  <div class="start-times-view"></div>
</div>