<div class="row">
  <div class="col-md-12">
    <form class="form-inline">
      <div class="form-group">
        <label for="speed">Offset</label>
        <input name="offset-min" type="number" class="form-control offset-min" placeholder="minutes">
        <button class="btn btn-default btn-offset">Set</button>
      </div>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <form class="form">
      <div class="form-group">
        <label for="bulk">Add many (HH:MM)</label>
        <textarea class="form-control bulk-load" rows="3" name="bulk" placeholder="Insert times separated by commas or newlines, for example: 08:11, 09:21, 10:43"></textarea>
        <button class="btn btn-default btn-bulk-load pull-right voffset1">Load</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-inline voffset1 pull-right">
      <div class="form-group">
        <button class="btn btn-default add-btn">
          <span class="glyphicon glyphicon-plus"></span> Add Time
        </button>
        <button class="btn btn-default btn-reset">
          <span class="glyphicon glyphicon-trash"></span> Clean
        </button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-inline voffset1 pull-right">
      <div class="form-group">
        <button class="btn btn-default save-btn">
          <span class="glyphicon glyphicon-save"></span> Save Times
        </button>
      </div>
    </form>
  </div>
</div>