<html>

<head>
	{% block head %}
	<title>{% block title %}{% endblock %} - Transporte Publico</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<style type="text/css">
	.nowrap {
		white-space: nowrap;
	}
	#map {
		height: 540px;
	}
	#panel {
		height: 350px;
		overflow-y: auto;
	}
	</style>
	{% endblock %}
</head>

<body>

<div class="container">

	<div class="page-header">
		<h1><a href="/">Transporte Público</a> <small>Provincia de Mendoza</small></h1>
	</div>

	{% block body %}{% endblock %}

</div>
{% block scripts %}
{% endblock %}

</body>

</html>