<label>Shape Tools</label>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default reverseShape">
        <i class="glyphicon glyphicon-refresh"></i> Reverse
      </button>
      <button class="btn btn-default editShape">
        <i class="glyphicon glyphicon-pencil"></i> Edit
      </button>
      <button class="btn btn-primary saveShape">
        <i class="glyphicon glyphicon-ok"></i> Save
      </button>
    </div>
</div>