<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-sm">
    <button class="btn btn-default newStop"><i class="glyphicon glyphicon-plus"></i> New</button>
    <button class="btn btn-default edit-stop"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
    <button class="btn btn-default move-stop"><i class="glyphicon glyphicon-move"></i> Move</button>
    <button class="btn btn-default removeStop"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    <button class="btn btn-default clearEdits"><i class="glyphicon glyphicon-remove"></i> Clear</button>
  </div>
</div>