<div class="col-md-4 panel-left">
  <div class="row">
    <div class="col-md-12 top-sp filter-view"></div>
  </div>
  <div class="stop-toolbar-view"></div>
  <h4>Stop Data</h4>
  <div class="stop-data-view"></div>
</div>
<div class="col-md-8 panel-right">
  <div id="map" class="map-view"></div>
</div>