<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-md toolbar-edit">
    <button class="btn btn-default create-stop"><i class="glyphicon glyphicon-plus"></i> New</button>
    <button class="btn btn-default edit-stop"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
    <button class="btn btn-default move-stop"><i class="glyphicon glyphicon-move"></i> Move</button>
    <button class="btn btn-default rm-stop"><i class="glyphicon glyphicon-trash"></i> Delete</button>
  </div>
  <div class="btn-group btn-group-md toolbar-commit hidden">
    <button class="btn btn-default save-stop"><i class="glyphicon glyphicon-save"></i> Save</button>
    <button class="btn btn-default edit-stop"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
    <button class="btn btn-default cancel-edit"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
  </div>
</div>